@import "tailwindcss";

:root {

  /* primary brand */
  --finshark-blue: #1DA1F2;
  --finshark-blue-dark: #0B5FA5;

  --finshark-green: #7ED957;
  --finshark-green-dark: #39B54A;

  /* accent */
  --finshark-gold: #F4C542;

  /* ui */
  --finshark-background: #F5F7FA;
  --finshark-text: #1A1A1A;
  --finshark-border: #0A2540;

}

body {
  font-family: 'Nunito', sans-serif;
}

.card {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 5px;
}

.card .details {
  margin: 10px;
}

.card .details h2 {
  font-weight: 600;
}

.card .details p {
  text-transform: uppercase;
  font-weight: 300;
}